.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{type:'button', data:{toggle:'collapse', target:'navbar-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href:'#' } DBMS
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: ('active' if request.path_info == "/users") }
          %a{href:'/admin/users'} Usuarios
        %li{ class: ('active' if request.path_info == "/slaves") }
          %a{href:'/admin/slaves'} Slaves
      %ul.nav.navbar-nav.navbar-right
        %li
          %a Bienvenido <b>#{current_user.name}</b>
        %li
          %a{href: "/admin/sessions/logout"}
            Salir
            %i.glyphicon.glyphicon-circle-arrow-right
